body{
  /* background-color:  azure; */
}
#root{
  display: flex;
  align-content: stretch;

  align-items: center;
  justify-content: center;
  /* align-items: center; */
  min-width: 100%; 
  min-height: 100%; 
  /* position: relative; */
  background-color:  azure;
}